body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:940px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0 {
  position:absolute;
  left:49px;
  top:50px;
  width:264px;
  height:120px;
}
#u0_img {
  position:absolute;
  left:0px;
  top:0px;
  width:264px;
  height:120px;
}
#u1 {
  position:absolute;
  left:2px;
  top:52px;
  width:260px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2 {
  position:absolute;
  left:59px;
  top:58px;
  width:73px;
  height:15px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-size:18px;
  color:#0099FF;
}
#u2_img {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:15px;
}
#u3 {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  white-space:nowrap;
}
#u4 {
  position:absolute;
  left:63px;
  top:90px;
  width:66px;
  height:66px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-size:10px;
  color:#FFFFFF;
}
#u4_img {
  position:absolute;
  left:0px;
  top:0px;
  width:66px;
  height:66px;
}
#u5 {
  position:absolute;
  left:2px;
  top:25px;
  width:62px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6 {
  position:absolute;
  left:79px;
  top:106px;
  width:40px;
  height:28px;
}
#u6_img {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:28px;
}
#u7 {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  white-space:nowrap;
}
#u8 {
  position:absolute;
  left:89px;
  top:132px;
  width:15px;
  height:16px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-size:14px;
}
#u8_img {
  position:absolute;
  left:0px;
  top:0px;
  width:15px;
  height:16px;
}
#u9 {
  position:absolute;
  left:0px;
  top:0px;
  width:15px;
  white-space:nowrap;
}
#u10 {
  position:absolute;
  left:143px;
  top:104px;
  width:145px;
  height:44px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-size:18px;
}
#u10_img {
  position:absolute;
  left:0px;
  top:0px;
  width:145px;
  height:44px;
}
#u11 {
  position:absolute;
  left:0px;
  top:0px;
  width:145px;
  white-space:nowrap;
}
#u12 {
  position:absolute;
  left:241px;
  top:55px;
  width:67px;
  height:66px;
}
#u12_img {
  position:absolute;
  left:0px;
  top:0px;
  width:67px;
  height:66px;
}
#u13 {
  position:absolute;
  left:2px;
  top:25px;
  width:63px;
  visibility:hidden;
  word-wrap:break-word;
}
#u14 {
  position:absolute;
  left:343px;
  top:114px;
  width:172px;
  height:38px;
  font-size:16px;
}
#u14_img {
  position:absolute;
  left:0px;
  top:0px;
  width:172px;
  height:38px;
}
#u15 {
  position:absolute;
  left:0px;
  top:0px;
  width:172px;
  white-space:nowrap;
}
#u16 {
  position:absolute;
  left:543px;
  top:114px;
  width:172px;
  height:38px;
  font-size:16px;
}
#u16_img {
  position:absolute;
  left:0px;
  top:0px;
  width:172px;
  height:38px;
}
#u17 {
  position:absolute;
  left:0px;
  top:0px;
  width:172px;
  white-space:nowrap;
}
#u18 {
  position:absolute;
  left:753px;
  top:114px;
  width:161px;
  height:38px;
  font-size:16px;
}
#u18_img {
  position:absolute;
  left:0px;
  top:0px;
  width:161px;
  height:38px;
}
#u19 {
  position:absolute;
  left:0px;
  top:0px;
  width:161px;
  white-space:nowrap;
}
#u20 {
  position:absolute;
  left:149px;
  top:80px;
  width:68px;
  height:16px;
  color:#FF0000;
}
#u20_img {
  position:absolute;
  left:0px;
  top:0px;
  width:68px;
  height:16px;
}
#u21 {
  position:absolute;
  left:0px;
  top:0px;
  width:68px;
  white-space:nowrap;
}
#u22 {
  position:absolute;
  left:343px;
  top:92px;
  width:68px;
  height:16px;
  color:#FF0000;
}
#u22_img {
  position:absolute;
  left:0px;
  top:0px;
  width:68px;
  height:16px;
}
#u23 {
  position:absolute;
  left:0px;
  top:0px;
  width:68px;
  white-space:nowrap;
}
#u24 {
  position:absolute;
  left:543px;
  top:92px;
  width:68px;
  height:16px;
  color:#FF0000;
}
#u24_img {
  position:absolute;
  left:0px;
  top:0px;
  width:68px;
  height:16px;
}
#u25 {
  position:absolute;
  left:0px;
  top:0px;
  width:68px;
  white-space:nowrap;
}
#u26 {
  position:absolute;
  left:753px;
  top:92px;
  width:187px;
  height:16px;
  color:#FF0000;
}
#u26_img {
  position:absolute;
  left:0px;
  top:0px;
  width:187px;
  height:16px;
}
#u27 {
  position:absolute;
  left:0px;
  top:0px;
  width:187px;
  white-space:nowrap;
}
#u28 {
  position:absolute;
  left:49px;
  top:200px;
  width:264px;
  height:120px;
}
#u28_img {
  position:absolute;
  left:0px;
  top:0px;
  width:264px;
  height:120px;
}
#u29 {
  position:absolute;
  left:2px;
  top:52px;
  width:260px;
  visibility:hidden;
  word-wrap:break-word;
}
#u30 {
  position:absolute;
  left:59px;
  top:208px;
  width:73px;
  height:15px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-size:18px;
  color:#0099FF;
}
#u30_img {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:15px;
}
#u31 {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  white-space:nowrap;
}
#u32 {
  position:absolute;
  left:63px;
  top:240px;
  width:66px;
  height:66px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-size:10px;
  color:#FFFFFF;
}
#u32_img {
  position:absolute;
  left:0px;
  top:0px;
  width:66px;
  height:66px;
}
#u33 {
  position:absolute;
  left:2px;
  top:25px;
  width:62px;
  visibility:hidden;
  word-wrap:break-word;
}
#u34 {
  position:absolute;
  left:241px;
  top:205px;
  width:67px;
  height:66px;
}
#u34_img {
  position:absolute;
  left:0px;
  top:0px;
  width:67px;
  height:66px;
}
#u35 {
  position:absolute;
  left:2px;
  top:25px;
  width:63px;
  visibility:hidden;
  word-wrap:break-word;
}
#u36 {
  position:absolute;
  left:79px;
  top:256px;
  width:34px;
  height:28px;
}
#u36_img {
  position:absolute;
  left:0px;
  top:0px;
  width:34px;
  height:28px;
}
#u37 {
  position:absolute;
  left:0px;
  top:0px;
  width:34px;
  white-space:nowrap;
}
#u38 {
  position:absolute;
  left:81px;
  top:282px;
  width:29px;
  height:16px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-size:14px;
}
#u38_img {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:16px;
}
#u39 {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  white-space:nowrap;
}
#u40 {
  position:absolute;
  left:143px;
  top:254px;
  width:145px;
  height:44px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-size:18px;
}
#u40_img {
  position:absolute;
  left:0px;
  top:0px;
  width:145px;
  height:44px;
}
#u41 {
  position:absolute;
  left:0px;
  top:0px;
  width:145px;
  white-space:nowrap;
}
#u42 {
  position:absolute;
  left:149px;
  top:230px;
  width:68px;
  height:16px;
  color:#FF0000;
}
#u42_img {
  position:absolute;
  left:0px;
  top:0px;
  width:68px;
  height:16px;
}
#u43 {
  position:absolute;
  left:0px;
  top:0px;
  width:68px;
  white-space:nowrap;
}
#u44 {
  position:absolute;
  left:343px;
  top:222px;
  width:169px;
  height:16px;
  font-size:14px;
  color:#FFFFFF;
}
#u44_img {
  position:absolute;
  left:0px;
  top:0px;
  width:169px;
  height:16px;
}
#u45 {
  position:absolute;
  left:0px;
  top:0px;
  width:169px;
  white-space:nowrap;
}
#u46 {
  position:absolute;
  left:343px;
  top:277px;
  width:200px;
  height:32px;
}
#u46_img {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:32px;
}
#u47 {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  word-wrap:break-word;
}
