body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:443px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0 {
  position:absolute;
  left:160px;
  top:37px;
  width:283px;
  height:454px;
}
#u0_img {
  position:absolute;
  left:0px;
  top:0px;
  width:283px;
  height:454px;
}
#u1 {
  position:absolute;
  left:2px;
  top:219px;
  width:279px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2 {
  position:absolute;
  left:187px;
  top:46px;
  width:68px;
  height:28px;
}
#u2_img {
  position:absolute;
  left:0px;
  top:0px;
  width:68px;
  height:28px;
}
#u3 {
  position:absolute;
  left:2px;
  top:6px;
  width:64px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4 {
  position:absolute;
  left:188px;
  top:48px;
  width:65px;
  height:19px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-size:16px;
}
#u4_img {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:19px;
}
#u5 {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  white-space:nowrap;
}
#u6 {
  position:absolute;
  left:160px;
  top:537px;
  width:281px;
  height:454px;
}
#u6_img {
  position:absolute;
  left:0px;
  top:0px;
  width:281px;
  height:454px;
}
#u7 {
  position:absolute;
  left:2px;
  top:219px;
  width:277px;
  visibility:hidden;
  word-wrap:break-word;
}
#u8 {
  position:absolute;
  left:170px;
  top:548px;
  width:20px;
  height:37px;
}
#u8_img {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:37px;
}
#u9 {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  white-space:nowrap;
}
#u10 {
  position:absolute;
  left:165px;
  top:539px;
  width:276px;
  height:87px;
}
#u10_img {
  position:absolute;
  left:0px;
  top:0px;
  width:276px;
  height:87px;
}
#u11 {
  position:absolute;
  left:2px;
  top:36px;
  width:272px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12 {
  position:absolute;
  left:188px;
  top:545px;
  width:68px;
  height:28px;
}
#u12_img {
  position:absolute;
  left:0px;
  top:0px;
  width:68px;
  height:28px;
}
#u13 {
  position:absolute;
  left:2px;
  top:6px;
  width:64px;
  visibility:hidden;
  word-wrap:break-word;
}
#u14 {
  position:absolute;
  left:189px;
  top:547px;
  width:49px;
  height:19px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-size:16px;
}
#u14_img {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  height:19px;
}
#u15 {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  white-space:nowrap;
}
#u16 {
  position:absolute;
  left:180px;
  top:89px;
  width:73px;
  height:22px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-size:18px;
}
#u16_img {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:22px;
}
#u17 {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  white-space:nowrap;
}
#u18 {
  position:absolute;
  left:271px;
  top:92px;
  width:93px;
  height:16px;
  color:#FF0000;
}
#u18_img {
  position:absolute;
  left:0px;
  top:0px;
  width:93px;
  height:16px;
}
#u19 {
  position:absolute;
  left:0px;
  top:0px;
  width:93px;
  white-space:nowrap;
}
#u20 {
  position:absolute;
  left:163px;
  top:573px;
  width:277px;
  height:54px;
}
#u20_img {
  position:absolute;
  left:0px;
  top:0px;
  width:277px;
  height:54px;
}
#u21 {
  position:absolute;
  left:2px;
  top:19px;
  width:273px;
  visibility:hidden;
  word-wrap:break-word;
}
#u22 {
  position:absolute;
  left:160px;
  top:818px;
  width:283px;
  height:10px;
}
#u22_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u22_end {
  position:absolute;
  left:266px;
  top:-5px;
  width:18px;
  height:20px;
}
#u22_line {
  position:absolute;
  left:0px;
  top:5px;
  width:283px;
  height:1px;
}
#u23 {
  position:absolute;
  left:169px;
  top:590px;
  width:39px;
  height:45px;
}
#u23_img {
  position:absolute;
  left:0px;
  top:0px;
  width:39px;
  height:45px;
}
#u24 {
  position:absolute;
  left:2px;
  top:14px;
  width:35px;
  visibility:hidden;
  word-wrap:break-word;
}
#u25 {
  position:absolute;
  left:213px;
  top:600px;
  width:89px;
  height:26px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-size:22px;
}
#u25_img {
  position:absolute;
  left:0px;
  top:0px;
  width:89px;
  height:26px;
}
#u26 {
  position:absolute;
  left:0px;
  top:0px;
  width:89px;
  white-space:nowrap;
}
#u27 {
  position:absolute;
  left:169px;
  top:829px;
  width:39px;
  height:45px;
}
#u27_img {
  position:absolute;
  left:0px;
  top:0px;
  width:39px;
  height:45px;
}
#u28 {
  position:absolute;
  left:2px;
  top:14px;
  width:35px;
  visibility:hidden;
  word-wrap:break-word;
}
#u29 {
  position:absolute;
  left:213px;
  top:840px;
  width:89px;
  height:26px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-size:22px;
}
#u29_img {
  position:absolute;
  left:0px;
  top:0px;
  width:89px;
  height:26px;
}
#u30 {
  position:absolute;
  left:0px;
  top:0px;
  width:89px;
  white-space:nowrap;
}
#u31 {
  position:absolute;
  left:169px;
  top:646px;
  width:50px;
  height:56px;
}
#u31_img {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:56px;
}
#u32 {
  position:absolute;
  left:2px;
  top:20px;
  width:46px;
  visibility:hidden;
  word-wrap:break-word;
}
#u33 {
  position:absolute;
  left:239px;
  top:646px;
  width:50px;
  height:56px;
}
#u33_img {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:56px;
}
#u34 {
  position:absolute;
  left:2px;
  top:20px;
  width:46px;
  visibility:hidden;
  word-wrap:break-word;
}
#u35 {
  position:absolute;
  left:311px;
  top:646px;
  width:50px;
  height:56px;
}
#u35_img {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:56px;
}
#u36 {
  position:absolute;
  left:2px;
  top:20px;
  width:46px;
  visibility:hidden;
  word-wrap:break-word;
}
#u37 {
  position:absolute;
  left:379px;
  top:646px;
  width:50px;
  height:56px;
}
#u37_img {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:56px;
}
#u38 {
  position:absolute;
  left:2px;
  top:20px;
  width:46px;
  visibility:hidden;
  word-wrap:break-word;
}
#u39 {
  position:absolute;
  left:169px;
  top:733px;
  width:50px;
  height:56px;
}
#u39_img {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:56px;
}
#u40 {
  position:absolute;
  left:2px;
  top:20px;
  width:46px;
  visibility:hidden;
  word-wrap:break-word;
}
#u41 {
  position:absolute;
  left:239px;
  top:733px;
  width:50px;
  height:56px;
}
#u41_img {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:56px;
}
#u42 {
  position:absolute;
  left:2px;
  top:20px;
  width:46px;
  visibility:hidden;
  word-wrap:break-word;
}
#u43 {
  position:absolute;
  left:311px;
  top:733px;
  width:50px;
  height:56px;
}
#u43_img {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:56px;
}
#u44 {
  position:absolute;
  left:2px;
  top:20px;
  width:46px;
  visibility:hidden;
  word-wrap:break-word;
}
#u45 {
  position:absolute;
  left:379px;
  top:733px;
  width:50px;
  height:56px;
}
#u45_img {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:56px;
}
#u46 {
  position:absolute;
  left:2px;
  top:20px;
  width:46px;
  visibility:hidden;
  word-wrap:break-word;
}
#u47 {
  position:absolute;
  left:178px;
  top:701px;
  width:33px;
  height:19px;
  font-size:16px;
}
#u47_img {
  position:absolute;
  left:0px;
  top:0px;
  width:33px;
  height:19px;
}
#u48 {
  position:absolute;
  left:0px;
  top:0px;
  width:33px;
  white-space:nowrap;
}
#u49 {
  position:absolute;
  left:249px;
  top:701px;
  width:33px;
  height:19px;
  font-size:16px;
}
#u49_img {
  position:absolute;
  left:0px;
  top:0px;
  width:33px;
  height:19px;
}
#u50 {
  position:absolute;
  left:0px;
  top:0px;
  width:33px;
  white-space:nowrap;
}
#u51 {
  position:absolute;
  left:323px;
  top:701px;
  width:33px;
  height:19px;
  font-size:16px;
}
#u51_img {
  position:absolute;
  left:0px;
  top:0px;
  width:33px;
  height:19px;
}
#u52 {
  position:absolute;
  left:0px;
  top:0px;
  width:33px;
  white-space:nowrap;
}
#u53 {
  position:absolute;
  left:389px;
  top:701px;
  width:33px;
  height:19px;
  font-size:16px;
}
#u53_img {
  position:absolute;
  left:0px;
  top:0px;
  width:33px;
  height:19px;
}
#u54 {
  position:absolute;
  left:0px;
  top:0px;
  width:33px;
  white-space:nowrap;
}
#u55 {
  position:absolute;
  left:178px;
  top:789px;
  width:33px;
  height:19px;
  font-size:16px;
}
#u55_img {
  position:absolute;
  left:0px;
  top:0px;
  width:33px;
  height:19px;
}
#u56 {
  position:absolute;
  left:0px;
  top:0px;
  width:33px;
  white-space:nowrap;
}
#u57 {
  position:absolute;
  left:249px;
  top:789px;
  width:33px;
  height:19px;
  font-size:16px;
}
#u57_img {
  position:absolute;
  left:0px;
  top:0px;
  width:33px;
  height:19px;
}
#u58 {
  position:absolute;
  left:0px;
  top:0px;
  width:33px;
  white-space:nowrap;
}
#u59 {
  position:absolute;
  left:323px;
  top:789px;
  width:33px;
  height:19px;
  font-size:16px;
}
#u59_img {
  position:absolute;
  left:0px;
  top:0px;
  width:33px;
  height:19px;
}
#u60 {
  position:absolute;
  left:0px;
  top:0px;
  width:33px;
  white-space:nowrap;
}
#u61 {
  position:absolute;
  left:389px;
  top:789px;
  width:33px;
  height:19px;
  font-size:16px;
}
#u61_img {
  position:absolute;
  left:0px;
  top:0px;
  width:33px;
  height:19px;
}
#u62 {
  position:absolute;
  left:0px;
  top:0px;
  width:33px;
  white-space:nowrap;
}
#u63 {
  position:absolute;
  left:169px;
  top:885px;
  width:80px;
  height:38px;
}
#u63_img {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:38px;
}
#u64 {
  position:absolute;
  left:2px;
  top:11px;
  width:76px;
  word-wrap:break-word;
}
#u65 {
  position:absolute;
  left:259px;
  top:885px;
  width:80px;
  height:38px;
}
#u65_img {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:38px;
}
#u66 {
  position:absolute;
  left:2px;
  top:11px;
  width:76px;
  word-wrap:break-word;
}
#u67 {
  position:absolute;
  left:349px;
  top:885px;
  width:80px;
  height:38px;
}
#u67_img {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:38px;
}
#u68 {
  position:absolute;
  left:2px;
  top:11px;
  width:76px;
  word-wrap:break-word;
}
#u69 {
  position:absolute;
  left:169px;
  top:934px;
  width:80px;
  height:38px;
}
#u69_img {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:38px;
}
#u70 {
  position:absolute;
  left:2px;
  top:11px;
  width:76px;
  word-wrap:break-word;
}
#u71 {
  position:absolute;
  left:259px;
  top:934px;
  width:80px;
  height:38px;
}
#u71_img {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:38px;
}
#u72 {
  position:absolute;
  left:2px;
  top:11px;
  width:76px;
  word-wrap:break-word;
}
#u73 {
  position:absolute;
  left:349px;
  top:934px;
  width:80px;
  height:38px;
}
#u73_img {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:38px;
}
#u74 {
  position:absolute;
  left:2px;
  top:11px;
  width:76px;
  word-wrap:break-word;
}
#u75 {
  position:absolute;
  left:70px;
  top:37px;
  width:55px;
  height:22px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-size:18px;
}
#u75_img {
  position:absolute;
  left:0px;
  top:0px;
  width:55px;
  height:22px;
}
#u76 {
  position:absolute;
  left:0px;
  top:0px;
  width:55px;
  white-space:nowrap;
}
#u77 {
  position:absolute;
  left:70px;
  top:91px;
  width:55px;
  height:22px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-size:18px;
}
#u77_img {
  position:absolute;
  left:0px;
  top:0px;
  width:55px;
  height:22px;
}
#u78 {
  position:absolute;
  left:0px;
  top:0px;
  width:55px;
  white-space:nowrap;
}
