body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:782px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0 {
  position:absolute;
  left:160px;
  top:537px;
  width:281px;
  height:454px;
}
#u0_img {
  position:absolute;
  left:0px;
  top:0px;
  width:281px;
  height:454px;
}
#u1 {
  position:absolute;
  left:2px;
  top:219px;
  width:277px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2 {
  position:absolute;
  left:170px;
  top:548px;
  width:20px;
  height:37px;
}
#u2_img {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:37px;
}
#u3 {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  white-space:nowrap;
}
#u4 {
  position:absolute;
  left:165px;
  top:539px;
  width:276px;
  height:87px;
}
#u4_img {
  position:absolute;
  left:0px;
  top:0px;
  width:276px;
  height:87px;
}
#u5 {
  position:absolute;
  left:2px;
  top:36px;
  width:272px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6 {
  position:absolute;
  left:188px;
  top:545px;
  width:68px;
  height:28px;
}
#u6_img {
  position:absolute;
  left:0px;
  top:0px;
  width:68px;
  height:28px;
}
#u7 {
  position:absolute;
  left:2px;
  top:6px;
  width:64px;
  visibility:hidden;
  word-wrap:break-word;
}
#u8 {
  position:absolute;
  left:189px;
  top:547px;
  width:49px;
  height:19px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-size:16px;
}
#u8_img {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  height:19px;
}
#u9 {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  white-space:nowrap;
}
#u10 {
  position:absolute;
  left:163px;
  top:573px;
  width:277px;
  height:54px;
}
#u10_img {
  position:absolute;
  left:0px;
  top:0px;
  width:277px;
  height:54px;
}
#u11 {
  position:absolute;
  left:2px;
  top:19px;
  width:273px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12 {
  position:absolute;
  left:160px;
  top:818px;
  width:283px;
  height:10px;
}
#u12_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u12_end {
  position:absolute;
  left:266px;
  top:-5px;
  width:18px;
  height:20px;
}
#u12_line {
  position:absolute;
  left:0px;
  top:5px;
  width:283px;
  height:1px;
}
#u13 {
  position:absolute;
  left:169px;
  top:590px;
  width:39px;
  height:45px;
}
#u13_img {
  position:absolute;
  left:0px;
  top:0px;
  width:39px;
  height:45px;
}
#u14 {
  position:absolute;
  left:2px;
  top:14px;
  width:35px;
  visibility:hidden;
  word-wrap:break-word;
}
#u15 {
  position:absolute;
  left:213px;
  top:600px;
  width:89px;
  height:26px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-size:22px;
}
#u15_img {
  position:absolute;
  left:0px;
  top:0px;
  width:89px;
  height:26px;
}
#u16 {
  position:absolute;
  left:0px;
  top:0px;
  width:89px;
  white-space:nowrap;
}
#u17 {
  position:absolute;
  left:169px;
  top:829px;
  width:39px;
  height:45px;
}
#u17_img {
  position:absolute;
  left:0px;
  top:0px;
  width:39px;
  height:45px;
}
#u18 {
  position:absolute;
  left:2px;
  top:14px;
  width:35px;
  visibility:hidden;
  word-wrap:break-word;
}
#u19 {
  position:absolute;
  left:213px;
  top:840px;
  width:89px;
  height:26px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-size:22px;
}
#u19_img {
  position:absolute;
  left:0px;
  top:0px;
  width:89px;
  height:26px;
}
#u20 {
  position:absolute;
  left:0px;
  top:0px;
  width:89px;
  white-space:nowrap;
}
#u21 {
  position:absolute;
  left:169px;
  top:646px;
  width:50px;
  height:56px;
}
#u21_img {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:56px;
}
#u22 {
  position:absolute;
  left:2px;
  top:20px;
  width:46px;
  visibility:hidden;
  word-wrap:break-word;
}
#u23 {
  position:absolute;
  left:239px;
  top:646px;
  width:50px;
  height:56px;
}
#u23_img {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:56px;
}
#u24 {
  position:absolute;
  left:2px;
  top:20px;
  width:46px;
  visibility:hidden;
  word-wrap:break-word;
}
#u25 {
  position:absolute;
  left:311px;
  top:646px;
  width:50px;
  height:56px;
}
#u25_img {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:56px;
}
#u26 {
  position:absolute;
  left:2px;
  top:20px;
  width:46px;
  visibility:hidden;
  word-wrap:break-word;
}
#u27 {
  position:absolute;
  left:379px;
  top:646px;
  width:50px;
  height:56px;
}
#u27_img {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:56px;
}
#u28 {
  position:absolute;
  left:2px;
  top:20px;
  width:46px;
  visibility:hidden;
  word-wrap:break-word;
}
#u29 {
  position:absolute;
  left:169px;
  top:733px;
  width:50px;
  height:56px;
}
#u29_img {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:56px;
}
#u30 {
  position:absolute;
  left:2px;
  top:20px;
  width:46px;
  visibility:hidden;
  word-wrap:break-word;
}
#u31 {
  position:absolute;
  left:239px;
  top:733px;
  width:50px;
  height:56px;
}
#u31_img {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:56px;
}
#u32 {
  position:absolute;
  left:2px;
  top:20px;
  width:46px;
  visibility:hidden;
  word-wrap:break-word;
}
#u33 {
  position:absolute;
  left:311px;
  top:733px;
  width:50px;
  height:56px;
}
#u33_img {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:56px;
}
#u34 {
  position:absolute;
  left:2px;
  top:20px;
  width:46px;
  visibility:hidden;
  word-wrap:break-word;
}
#u35 {
  position:absolute;
  left:379px;
  top:733px;
  width:50px;
  height:56px;
}
#u35_img {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:56px;
}
#u36 {
  position:absolute;
  left:2px;
  top:20px;
  width:46px;
  visibility:hidden;
  word-wrap:break-word;
}
#u37 {
  position:absolute;
  left:178px;
  top:701px;
  width:33px;
  height:19px;
  font-size:16px;
}
#u37_img {
  position:absolute;
  left:0px;
  top:0px;
  width:33px;
  height:19px;
}
#u38 {
  position:absolute;
  left:0px;
  top:0px;
  width:33px;
  white-space:nowrap;
}
#u39 {
  position:absolute;
  left:249px;
  top:701px;
  width:33px;
  height:19px;
  font-size:16px;
}
#u39_img {
  position:absolute;
  left:0px;
  top:0px;
  width:33px;
  height:19px;
}
#u40 {
  position:absolute;
  left:0px;
  top:0px;
  width:33px;
  white-space:nowrap;
}
#u41 {
  position:absolute;
  left:323px;
  top:701px;
  width:33px;
  height:19px;
  font-size:16px;
}
#u41_img {
  position:absolute;
  left:0px;
  top:0px;
  width:33px;
  height:19px;
}
#u42 {
  position:absolute;
  left:0px;
  top:0px;
  width:33px;
  white-space:nowrap;
}
#u43 {
  position:absolute;
  left:389px;
  top:701px;
  width:33px;
  height:19px;
  font-size:16px;
}
#u43_img {
  position:absolute;
  left:0px;
  top:0px;
  width:33px;
  height:19px;
}
#u44 {
  position:absolute;
  left:0px;
  top:0px;
  width:33px;
  white-space:nowrap;
}
#u45 {
  position:absolute;
  left:178px;
  top:789px;
  width:33px;
  height:19px;
  font-size:16px;
}
#u45_img {
  position:absolute;
  left:0px;
  top:0px;
  width:33px;
  height:19px;
}
#u46 {
  position:absolute;
  left:0px;
  top:0px;
  width:33px;
  white-space:nowrap;
}
#u47 {
  position:absolute;
  left:249px;
  top:789px;
  width:33px;
  height:19px;
  font-size:16px;
}
#u47_img {
  position:absolute;
  left:0px;
  top:0px;
  width:33px;
  height:19px;
}
#u48 {
  position:absolute;
  left:0px;
  top:0px;
  width:33px;
  white-space:nowrap;
}
#u49 {
  position:absolute;
  left:323px;
  top:789px;
  width:33px;
  height:19px;
  font-size:16px;
}
#u49_img {
  position:absolute;
  left:0px;
  top:0px;
  width:33px;
  height:19px;
}
#u50 {
  position:absolute;
  left:0px;
  top:0px;
  width:33px;
  white-space:nowrap;
}
#u51 {
  position:absolute;
  left:389px;
  top:789px;
  width:33px;
  height:19px;
  font-size:16px;
}
#u51_img {
  position:absolute;
  left:0px;
  top:0px;
  width:33px;
  height:19px;
}
#u52 {
  position:absolute;
  left:0px;
  top:0px;
  width:33px;
  white-space:nowrap;
}
#u53 {
  position:absolute;
  left:169px;
  top:885px;
  width:80px;
  height:38px;
}
#u53_img {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:38px;
}
#u54 {
  position:absolute;
  left:2px;
  top:11px;
  width:76px;
  word-wrap:break-word;
}
#u55 {
  position:absolute;
  left:159px;
  top:37px;
  width:282px;
  height:480px;
}
#u55_img {
  position:absolute;
  left:0px;
  top:0px;
  width:282px;
  height:480px;
}
#u56 {
  position:absolute;
  left:2px;
  top:232px;
  width:278px;
  visibility:hidden;
  word-wrap:break-word;
}
#u57 {
  position:absolute;
  left:259px;
  top:885px;
  width:80px;
  height:38px;
}
#u57_img {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:38px;
}
#u58 {
  position:absolute;
  left:2px;
  top:11px;
  width:76px;
  word-wrap:break-word;
}
#u59 {
  position:absolute;
  left:349px;
  top:885px;
  width:80px;
  height:38px;
}
#u59_img {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:38px;
}
#u60 {
  position:absolute;
  left:2px;
  top:11px;
  width:76px;
  word-wrap:break-word;
}
#u61 {
  position:absolute;
  left:169px;
  top:934px;
  width:80px;
  height:38px;
}
#u61_img {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:38px;
}
#u62 {
  position:absolute;
  left:2px;
  top:11px;
  width:76px;
  word-wrap:break-word;
}
#u63 {
  position:absolute;
  left:259px;
  top:934px;
  width:80px;
  height:38px;
}
#u63_img {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:38px;
}
#u64 {
  position:absolute;
  left:2px;
  top:11px;
  width:76px;
  word-wrap:break-word;
}
#u65 {
  position:absolute;
  left:349px;
  top:934px;
  width:80px;
  height:38px;
}
#u65_img {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:38px;
}
#u66 {
  position:absolute;
  left:2px;
  top:11px;
  width:76px;
  word-wrap:break-word;
}
#u67 {
  position:absolute;
  left:162px;
  top:86px;
  width:277px;
  height:39px;
}
#u67_img {
  position:absolute;
  left:0px;
  top:0px;
  width:277px;
  height:39px;
}
#u68 {
  position:absolute;
  left:2px;
  top:12px;
  width:273px;
  visibility:hidden;
  word-wrap:break-word;
}
#u69 {
  position:absolute;
  left:162px;
  top:272px;
  width:277px;
  height:212px;
}
#u69_img {
  position:absolute;
  left:0px;
  top:0px;
  width:277px;
  height:212px;
}
#u70 {
  position:absolute;
  left:2px;
  top:98px;
  width:273px;
  visibility:hidden;
  word-wrap:break-word;
}
#u71 {
  position:absolute;
  left:162px;
  top:484px;
  width:277px;
  height:30px;
}
#u71_img {
  position:absolute;
  left:0px;
  top:0px;
  width:277px;
  height:30px;
}
#u72 {
  position:absolute;
  left:2px;
  top:7px;
  width:273px;
  visibility:hidden;
  word-wrap:break-word;
}
#u73 {
  position:absolute;
  left:70px;
  top:37px;
  width:55px;
  height:22px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-size:18px;
}
#u73_img {
  position:absolute;
  left:0px;
  top:0px;
  width:55px;
  height:22px;
}
#u74 {
  position:absolute;
  left:0px;
  top:0px;
  width:55px;
  white-space:nowrap;
}
#u75 {
  position:absolute;
  left:70px;
  top:91px;
  width:55px;
  height:22px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-size:18px;
}
#u75_img {
  position:absolute;
  left:0px;
  top:0px;
  width:55px;
  height:22px;
}
#u76 {
  position:absolute;
  left:0px;
  top:0px;
  width:55px;
  white-space:nowrap;
}
#u77 {
  position:absolute;
  left:168px;
  top:49px;
  width:15px;
  height:28px;
}
#u77_img {
  position:absolute;
  left:0px;
  top:0px;
  width:15px;
  height:28px;
}
#u78 {
  position:absolute;
  left:0px;
  top:0px;
  width:15px;
  white-space:nowrap;
}
#u79 {
  position:absolute;
  left:162px;
  top:125px;
  width:277px;
  height:212px;
}
#u79_img {
  position:absolute;
  left:0px;
  top:0px;
  width:277px;
  height:212px;
}
#u80 {
  position:absolute;
  left:2px;
  top:98px;
  width:273px;
  visibility:hidden;
  word-wrap:break-word;
}
#u81 {
  position:absolute;
  left:259px;
  top:49px;
  width:73px;
  height:28px;
}
#u81_img {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:28px;
}
#u82 {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  white-space:nowrap;
}
#u83 {
  position:absolute;
  left:370px;
  top:600px;
  width:59px;
  height:26px;
  color:#00CC00;
}
#u83_img {
  position:absolute;
  left:0px;
  top:0px;
  width:59px;
  height:26px;
}
#u84 {
  position:absolute;
  left:2px;
  top:5px;
  width:55px;
  word-wrap:break-word;
}
#u85 {
  position:absolute;
  left:363px;
  top:840px;
  width:59px;
  height:26px;
  color:#00CC00;
}
#u85_img {
  position:absolute;
  left:0px;
  top:0px;
  width:59px;
  height:26px;
}
#u86 {
  position:absolute;
  left:2px;
  top:5px;
  width:55px;
  word-wrap:break-word;
}
#u87 {
  position:absolute;
  left:500px;
  top:537px;
  width:281px;
  height:1083px;
}
#u87_img {
  position:absolute;
  left:0px;
  top:0px;
  width:281px;
  height:1083px;
}
#u88 {
  position:absolute;
  left:2px;
  top:534px;
  width:277px;
  visibility:hidden;
  word-wrap:break-word;
}
#u89 {
  position:absolute;
  left:510px;
  top:563px;
  width:20px;
  height:37px;
}
#u89_img {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:37px;
}
#u90 {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  white-space:nowrap;
}
#u91 {
  position:absolute;
  left:505px;
  top:539px;
  width:276px;
  height:87px;
}
#u91_img {
  position:absolute;
  left:0px;
  top:0px;
  width:276px;
  height:87px;
}
#u92 {
  position:absolute;
  left:2px;
  top:36px;
  width:272px;
  visibility:hidden;
  word-wrap:break-word;
}
#u93 {
  position:absolute;
  left:528px;
  top:545px;
  width:68px;
  height:28px;
}
#u93_img {
  position:absolute;
  left:0px;
  top:0px;
  width:68px;
  height:28px;
}
#u94 {
  position:absolute;
  left:2px;
  top:6px;
  width:64px;
  visibility:hidden;
  word-wrap:break-word;
}
#u95 {
  position:absolute;
  left:529px;
  top:547px;
  width:49px;
  height:19px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-size:16px;
}
#u95_img {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  height:19px;
}
#u96 {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  white-space:nowrap;
}
#u97 {
  position:absolute;
  left:503px;
  top:573px;
  width:277px;
  height:54px;
}
#u97_img {
  position:absolute;
  left:0px;
  top:0px;
  width:277px;
  height:54px;
}
#u98 {
  position:absolute;
  left:2px;
  top:19px;
  width:273px;
  visibility:hidden;
  word-wrap:break-word;
}
#u99 {
  position:absolute;
  left:509px;
  top:590px;
  width:39px;
  height:45px;
}
#u99_img {
  position:absolute;
  left:0px;
  top:0px;
  width:39px;
  height:45px;
}
#u100 {
  position:absolute;
  left:2px;
  top:14px;
  width:35px;
  visibility:hidden;
  word-wrap:break-word;
}
#u101 {
  position:absolute;
  left:553px;
  top:600px;
  width:89px;
  height:26px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-size:22px;
}
#u101_img {
  position:absolute;
  left:0px;
  top:0px;
  width:89px;
  height:26px;
}
#u102 {
  position:absolute;
  left:0px;
  top:0px;
  width:89px;
  white-space:nowrap;
}
#u103 {
  position:absolute;
  left:509px;
  top:646px;
  width:50px;
  height:56px;
}
#u103_img {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:56px;
}
#u104 {
  position:absolute;
  left:2px;
  top:20px;
  width:46px;
  visibility:hidden;
  word-wrap:break-word;
}
#u105 {
  position:absolute;
  left:579px;
  top:646px;
  width:50px;
  height:56px;
}
#u105_img {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:56px;
}
#u106 {
  position:absolute;
  left:2px;
  top:20px;
  width:46px;
  visibility:hidden;
  word-wrap:break-word;
}
#u107 {
  position:absolute;
  left:651px;
  top:646px;
  width:50px;
  height:56px;
}
#u107_img {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:56px;
}
#u108 {
  position:absolute;
  left:2px;
  top:20px;
  width:46px;
  visibility:hidden;
  word-wrap:break-word;
}
#u109 {
  position:absolute;
  left:719px;
  top:646px;
  width:50px;
  height:56px;
}
#u109_img {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:56px;
}
#u110 {
  position:absolute;
  left:2px;
  top:20px;
  width:46px;
  visibility:hidden;
  word-wrap:break-word;
}
#u111 {
  position:absolute;
  left:509px;
  top:733px;
  width:50px;
  height:56px;
}
#u111_img {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:56px;
}
#u112 {
  position:absolute;
  left:2px;
  top:20px;
  width:46px;
  visibility:hidden;
  word-wrap:break-word;
}
#u113 {
  position:absolute;
  left:579px;
  top:733px;
  width:50px;
  height:56px;
}
#u113_img {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:56px;
}
#u114 {
  position:absolute;
  left:2px;
  top:20px;
  width:46px;
  visibility:hidden;
  word-wrap:break-word;
}
#u115 {
  position:absolute;
  left:651px;
  top:733px;
  width:50px;
  height:56px;
}
#u115_img {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:56px;
}
#u116 {
  position:absolute;
  left:2px;
  top:20px;
  width:46px;
  visibility:hidden;
  word-wrap:break-word;
}
#u117 {
  position:absolute;
  left:719px;
  top:733px;
  width:50px;
  height:56px;
}
#u117_img {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:56px;
}
#u118 {
  position:absolute;
  left:2px;
  top:20px;
  width:46px;
  visibility:hidden;
  word-wrap:break-word;
}
#u119 {
  position:absolute;
  left:518px;
  top:701px;
  width:33px;
  height:19px;
  font-size:16px;
}
#u119_img {
  position:absolute;
  left:0px;
  top:0px;
  width:33px;
  height:19px;
}
#u120 {
  position:absolute;
  left:0px;
  top:0px;
  width:33px;
  white-space:nowrap;
}
#u121 {
  position:absolute;
  left:589px;
  top:701px;
  width:33px;
  height:19px;
  font-size:16px;
}
#u121_img {
  position:absolute;
  left:0px;
  top:0px;
  width:33px;
  height:19px;
}
#u122 {
  position:absolute;
  left:0px;
  top:0px;
  width:33px;
  white-space:nowrap;
}
#u123 {
  position:absolute;
  left:663px;
  top:701px;
  width:33px;
  height:19px;
  font-size:16px;
}
#u123_img {
  position:absolute;
  left:0px;
  top:0px;
  width:33px;
  height:19px;
}
#u124 {
  position:absolute;
  left:0px;
  top:0px;
  width:33px;
  white-space:nowrap;
}
#u125 {
  position:absolute;
  left:729px;
  top:701px;
  width:33px;
  height:19px;
  font-size:16px;
}
#u125_img {
  position:absolute;
  left:0px;
  top:0px;
  width:33px;
  height:19px;
}
#u126 {
  position:absolute;
  left:0px;
  top:0px;
  width:33px;
  white-space:nowrap;
}
#u127 {
  position:absolute;
  left:518px;
  top:789px;
  width:33px;
  height:19px;
  font-size:16px;
}
#u127_img {
  position:absolute;
  left:0px;
  top:0px;
  width:33px;
  height:19px;
}
#u128 {
  position:absolute;
  left:0px;
  top:0px;
  width:33px;
  white-space:nowrap;
}
#u129 {
  position:absolute;
  left:589px;
  top:789px;
  width:33px;
  height:19px;
  font-size:16px;
}
#u129_img {
  position:absolute;
  left:0px;
  top:0px;
  width:33px;
  height:19px;
}
#u130 {
  position:absolute;
  left:0px;
  top:0px;
  width:33px;
  white-space:nowrap;
}
#u131 {
  position:absolute;
  left:663px;
  top:789px;
  width:33px;
  height:19px;
  font-size:16px;
}
#u131_img {
  position:absolute;
  left:0px;
  top:0px;
  width:33px;
  height:19px;
}
#u132 {
  position:absolute;
  left:0px;
  top:0px;
  width:33px;
  white-space:nowrap;
}
#u133 {
  position:absolute;
  left:729px;
  top:789px;
  width:33px;
  height:19px;
  font-size:16px;
}
#u133_img {
  position:absolute;
  left:0px;
  top:0px;
  width:33px;
  height:19px;
}
#u134 {
  position:absolute;
  left:0px;
  top:0px;
  width:33px;
  white-space:nowrap;
}
#u135 {
  position:absolute;
  left:710px;
  top:600px;
  width:59px;
  height:26px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  color:#FFFFFF;
}
#u135_img {
  position:absolute;
  left:0px;
  top:0px;
  width:59px;
  height:26px;
}
#u136 {
  position:absolute;
  left:2px;
  top:5px;
  width:55px;
  word-wrap:break-word;
}
#u137 {
  position:absolute;
  left:509px;
  top:822px;
  width:50px;
  height:56px;
}
#u137_img {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:56px;
}
#u138 {
  position:absolute;
  left:2px;
  top:20px;
  width:46px;
  visibility:hidden;
  word-wrap:break-word;
}
#u139 {
  position:absolute;
  left:579px;
  top:822px;
  width:50px;
  height:56px;
}
#u139_img {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:56px;
}
#u140 {
  position:absolute;
  left:2px;
  top:20px;
  width:46px;
  visibility:hidden;
  word-wrap:break-word;
}
#u141 {
  position:absolute;
  left:651px;
  top:822px;
  width:50px;
  height:56px;
}
#u141_img {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:56px;
}
#u142 {
  position:absolute;
  left:2px;
  top:20px;
  width:46px;
  visibility:hidden;
  word-wrap:break-word;
}
#u143 {
  position:absolute;
  left:719px;
  top:822px;
  width:50px;
  height:56px;
}
#u143_img {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:56px;
}
#u144 {
  position:absolute;
  left:2px;
  top:20px;
  width:46px;
  visibility:hidden;
  word-wrap:break-word;
}
#u145 {
  position:absolute;
  left:509px;
  top:909px;
  width:50px;
  height:56px;
}
#u145_img {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:56px;
}
#u146 {
  position:absolute;
  left:2px;
  top:20px;
  width:46px;
  visibility:hidden;
  word-wrap:break-word;
}
#u147 {
  position:absolute;
  left:579px;
  top:909px;
  width:50px;
  height:56px;
}
#u147_img {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:56px;
}
#u148 {
  position:absolute;
  left:2px;
  top:20px;
  width:46px;
  visibility:hidden;
  word-wrap:break-word;
}
#u149 {
  position:absolute;
  left:651px;
  top:909px;
  width:50px;
  height:56px;
}
#u149_img {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:56px;
}
#u150 {
  position:absolute;
  left:2px;
  top:20px;
  width:46px;
  visibility:hidden;
  word-wrap:break-word;
}
#u151 {
  position:absolute;
  left:719px;
  top:909px;
  width:50px;
  height:56px;
}
#u151_img {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:56px;
}
#u152 {
  position:absolute;
  left:2px;
  top:20px;
  width:46px;
  visibility:hidden;
  word-wrap:break-word;
}
#u153 {
  position:absolute;
  left:518px;
  top:877px;
  width:33px;
  height:19px;
  font-size:16px;
}
#u153_img {
  position:absolute;
  left:0px;
  top:0px;
  width:33px;
  height:19px;
}
#u154 {
  position:absolute;
  left:0px;
  top:0px;
  width:33px;
  white-space:nowrap;
}
#u155 {
  position:absolute;
  left:589px;
  top:877px;
  width:33px;
  height:19px;
  font-size:16px;
}
#u155_img {
  position:absolute;
  left:0px;
  top:0px;
  width:33px;
  height:19px;
}
#u156 {
  position:absolute;
  left:0px;
  top:0px;
  width:33px;
  white-space:nowrap;
}
#u157 {
  position:absolute;
  left:663px;
  top:877px;
  width:33px;
  height:19px;
  font-size:16px;
}
#u157_img {
  position:absolute;
  left:0px;
  top:0px;
  width:33px;
  height:19px;
}
#u158 {
  position:absolute;
  left:0px;
  top:0px;
  width:33px;
  white-space:nowrap;
}
#u159 {
  position:absolute;
  left:729px;
  top:877px;
  width:33px;
  height:19px;
  font-size:16px;
}
#u159_img {
  position:absolute;
  left:0px;
  top:0px;
  width:33px;
  height:19px;
}
#u160 {
  position:absolute;
  left:0px;
  top:0px;
  width:33px;
  white-space:nowrap;
}
#u161 {
  position:absolute;
  left:518px;
  top:965px;
  width:33px;
  height:19px;
  font-size:16px;
}
#u161_img {
  position:absolute;
  left:0px;
  top:0px;
  width:33px;
  height:19px;
}
#u162 {
  position:absolute;
  left:0px;
  top:0px;
  width:33px;
  white-space:nowrap;
}
#u163 {
  position:absolute;
  left:589px;
  top:965px;
  width:33px;
  height:19px;
  font-size:16px;
}
#u163_img {
  position:absolute;
  left:0px;
  top:0px;
  width:33px;
  height:19px;
}
#u164 {
  position:absolute;
  left:0px;
  top:0px;
  width:33px;
  white-space:nowrap;
}
#u165 {
  position:absolute;
  left:663px;
  top:965px;
  width:33px;
  height:19px;
  font-size:16px;
}
#u165_img {
  position:absolute;
  left:0px;
  top:0px;
  width:33px;
  height:19px;
}
#u166 {
  position:absolute;
  left:0px;
  top:0px;
  width:33px;
  white-space:nowrap;
}
#u167 {
  position:absolute;
  left:729px;
  top:965px;
  width:33px;
  height:19px;
  font-size:16px;
}
#u167_img {
  position:absolute;
  left:0px;
  top:0px;
  width:33px;
  height:19px;
}
#u168 {
  position:absolute;
  left:0px;
  top:0px;
  width:33px;
  white-space:nowrap;
}
#u169 {
  position:absolute;
  left:509px;
  top:994px;
  width:50px;
  height:56px;
}
#u169_img {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:56px;
}
#u170 {
  position:absolute;
  left:2px;
  top:20px;
  width:46px;
  visibility:hidden;
  word-wrap:break-word;
}
#u171 {
  position:absolute;
  left:579px;
  top:994px;
  width:50px;
  height:56px;
}
#u171_img {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:56px;
}
#u172 {
  position:absolute;
  left:2px;
  top:20px;
  width:46px;
  visibility:hidden;
  word-wrap:break-word;
}
#u173 {
  position:absolute;
  left:651px;
  top:994px;
  width:50px;
  height:56px;
}
#u173_img {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:56px;
}
#u174 {
  position:absolute;
  left:2px;
  top:20px;
  width:46px;
  visibility:hidden;
  word-wrap:break-word;
}
#u175 {
  position:absolute;
  left:719px;
  top:994px;
  width:50px;
  height:56px;
}
#u175_img {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:56px;
}
#u176 {
  position:absolute;
  left:2px;
  top:20px;
  width:46px;
  visibility:hidden;
  word-wrap:break-word;
}
#u177 {
  position:absolute;
  left:509px;
  top:1081px;
  width:50px;
  height:56px;
}
#u177_img {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:56px;
}
#u178 {
  position:absolute;
  left:2px;
  top:20px;
  width:46px;
  visibility:hidden;
  word-wrap:break-word;
}
#u179 {
  position:absolute;
  left:579px;
  top:1081px;
  width:50px;
  height:56px;
}
#u179_img {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:56px;
}
#u180 {
  position:absolute;
  left:2px;
  top:20px;
  width:46px;
  visibility:hidden;
  word-wrap:break-word;
}
#u181 {
  position:absolute;
  left:651px;
  top:1081px;
  width:50px;
  height:56px;
}
#u181_img {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:56px;
}
#u182 {
  position:absolute;
  left:2px;
  top:20px;
  width:46px;
  visibility:hidden;
  word-wrap:break-word;
}
#u183 {
  position:absolute;
  left:719px;
  top:1081px;
  width:50px;
  height:56px;
}
#u183_img {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:56px;
}
#u184 {
  position:absolute;
  left:2px;
  top:20px;
  width:46px;
  visibility:hidden;
  word-wrap:break-word;
}
#u185 {
  position:absolute;
  left:518px;
  top:1049px;
  width:33px;
  height:19px;
  font-size:16px;
}
#u185_img {
  position:absolute;
  left:0px;
  top:0px;
  width:33px;
  height:19px;
}
#u186 {
  position:absolute;
  left:0px;
  top:0px;
  width:33px;
  white-space:nowrap;
}
#u187 {
  position:absolute;
  left:589px;
  top:1049px;
  width:33px;
  height:19px;
  font-size:16px;
}
#u187_img {
  position:absolute;
  left:0px;
  top:0px;
  width:33px;
  height:19px;
}
#u188 {
  position:absolute;
  left:0px;
  top:0px;
  width:33px;
  white-space:nowrap;
}
#u189 {
  position:absolute;
  left:663px;
  top:1049px;
  width:33px;
  height:19px;
  font-size:16px;
}
#u189_img {
  position:absolute;
  left:0px;
  top:0px;
  width:33px;
  height:19px;
}
#u190 {
  position:absolute;
  left:0px;
  top:0px;
  width:33px;
  white-space:nowrap;
}
#u191 {
  position:absolute;
  left:729px;
  top:1049px;
  width:33px;
  height:19px;
  font-size:16px;
}
#u191_img {
  position:absolute;
  left:0px;
  top:0px;
  width:33px;
  height:19px;
}
#u192 {
  position:absolute;
  left:0px;
  top:0px;
  width:33px;
  white-space:nowrap;
}
#u193 {
  position:absolute;
  left:518px;
  top:1137px;
  width:33px;
  height:19px;
  font-size:16px;
}
#u193_img {
  position:absolute;
  left:0px;
  top:0px;
  width:33px;
  height:19px;
}
#u194 {
  position:absolute;
  left:0px;
  top:0px;
  width:33px;
  white-space:nowrap;
}
#u195 {
  position:absolute;
  left:589px;
  top:1137px;
  width:33px;
  height:19px;
  font-size:16px;
}
#u195_img {
  position:absolute;
  left:0px;
  top:0px;
  width:33px;
  height:19px;
}
#u196 {
  position:absolute;
  left:0px;
  top:0px;
  width:33px;
  white-space:nowrap;
}
#u197 {
  position:absolute;
  left:663px;
  top:1137px;
  width:33px;
  height:19px;
  font-size:16px;
}
#u197_img {
  position:absolute;
  left:0px;
  top:0px;
  width:33px;
  height:19px;
}
#u198 {
  position:absolute;
  left:0px;
  top:0px;
  width:33px;
  white-space:nowrap;
}
#u199 {
  position:absolute;
  left:729px;
  top:1137px;
  width:33px;
  height:19px;
  font-size:16px;
}
#u199_img {
  position:absolute;
  left:0px;
  top:0px;
  width:33px;
  height:19px;
}
#u200 {
  position:absolute;
  left:0px;
  top:0px;
  width:33px;
  white-space:nowrap;
}
#u201 {
  position:absolute;
  left:509px;
  top:1170px;
  width:50px;
  height:56px;
}
#u201_img {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:56px;
}
#u202 {
  position:absolute;
  left:2px;
  top:20px;
  width:46px;
  visibility:hidden;
  word-wrap:break-word;
}
#u203 {
  position:absolute;
  left:579px;
  top:1170px;
  width:50px;
  height:56px;
}
#u203_img {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:56px;
}
#u204 {
  position:absolute;
  left:2px;
  top:20px;
  width:46px;
  visibility:hidden;
  word-wrap:break-word;
}
#u205 {
  position:absolute;
  left:651px;
  top:1170px;
  width:50px;
  height:56px;
}
#u205_img {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:56px;
}
#u206 {
  position:absolute;
  left:2px;
  top:20px;
  width:46px;
  visibility:hidden;
  word-wrap:break-word;
}
#u207 {
  position:absolute;
  left:719px;
  top:1170px;
  width:50px;
  height:56px;
}
#u207_img {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:56px;
}
#u208 {
  position:absolute;
  left:2px;
  top:20px;
  width:46px;
  visibility:hidden;
  word-wrap:break-word;
}
#u209 {
  position:absolute;
  left:509px;
  top:1257px;
  width:50px;
  height:56px;
}
#u209_img {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:56px;
}
#u210 {
  position:absolute;
  left:2px;
  top:20px;
  width:46px;
  visibility:hidden;
  word-wrap:break-word;
}
#u211 {
  position:absolute;
  left:579px;
  top:1257px;
  width:50px;
  height:56px;
}
#u211_img {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:56px;
}
#u212 {
  position:absolute;
  left:2px;
  top:20px;
  width:46px;
  visibility:hidden;
  word-wrap:break-word;
}
#u213 {
  position:absolute;
  left:651px;
  top:1257px;
  width:50px;
  height:56px;
}
#u213_img {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:56px;
}
#u214 {
  position:absolute;
  left:2px;
  top:20px;
  width:46px;
  visibility:hidden;
  word-wrap:break-word;
}
#u215 {
  position:absolute;
  left:719px;
  top:1257px;
  width:50px;
  height:56px;
}
#u215_img {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:56px;
}
#u216 {
  position:absolute;
  left:2px;
  top:20px;
  width:46px;
  visibility:hidden;
  word-wrap:break-word;
}
#u217 {
  position:absolute;
  left:518px;
  top:1225px;
  width:33px;
  height:19px;
  font-size:16px;
}
#u217_img {
  position:absolute;
  left:0px;
  top:0px;
  width:33px;
  height:19px;
}
#u218 {
  position:absolute;
  left:0px;
  top:0px;
  width:33px;
  white-space:nowrap;
}
#u219 {
  position:absolute;
  left:589px;
  top:1225px;
  width:33px;
  height:19px;
  font-size:16px;
}
#u219_img {
  position:absolute;
  left:0px;
  top:0px;
  width:33px;
  height:19px;
}
#u220 {
  position:absolute;
  left:0px;
  top:0px;
  width:33px;
  white-space:nowrap;
}
#u221 {
  position:absolute;
  left:663px;
  top:1225px;
  width:33px;
  height:19px;
  font-size:16px;
}
#u221_img {
  position:absolute;
  left:0px;
  top:0px;
  width:33px;
  height:19px;
}
#u222 {
  position:absolute;
  left:0px;
  top:0px;
  width:33px;
  white-space:nowrap;
}
#u223 {
  position:absolute;
  left:729px;
  top:1225px;
  width:33px;
  height:19px;
  font-size:16px;
}
#u223_img {
  position:absolute;
  left:0px;
  top:0px;
  width:33px;
  height:19px;
}
#u224 {
  position:absolute;
  left:0px;
  top:0px;
  width:33px;
  white-space:nowrap;
}
#u225 {
  position:absolute;
  left:518px;
  top:1313px;
  width:33px;
  height:19px;
  font-size:16px;
}
#u225_img {
  position:absolute;
  left:0px;
  top:0px;
  width:33px;
  height:19px;
}
#u226 {
  position:absolute;
  left:0px;
  top:0px;
  width:33px;
  white-space:nowrap;
}
#u227 {
  position:absolute;
  left:589px;
  top:1313px;
  width:33px;
  height:19px;
  font-size:16px;
}
#u227_img {
  position:absolute;
  left:0px;
  top:0px;
  width:33px;
  height:19px;
}
#u228 {
  position:absolute;
  left:0px;
  top:0px;
  width:33px;
  white-space:nowrap;
}
#u229 {
  position:absolute;
  left:663px;
  top:1313px;
  width:33px;
  height:19px;
  font-size:16px;
}
#u229_img {
  position:absolute;
  left:0px;
  top:0px;
  width:33px;
  height:19px;
}
#u230 {
  position:absolute;
  left:0px;
  top:0px;
  width:33px;
  white-space:nowrap;
}
#u231 {
  position:absolute;
  left:729px;
  top:1313px;
  width:33px;
  height:19px;
  font-size:16px;
}
#u231_img {
  position:absolute;
  left:0px;
  top:0px;
  width:33px;
  height:19px;
}
#u232 {
  position:absolute;
  left:0px;
  top:0px;
  width:33px;
  white-space:nowrap;
}
#u233 {
  position:absolute;
  left:509px;
  top:1347px;
  width:50px;
  height:56px;
}
#u233_img {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:56px;
}
#u234 {
  position:absolute;
  left:2px;
  top:20px;
  width:46px;
  visibility:hidden;
  word-wrap:break-word;
}
#u235 {
  position:absolute;
  left:579px;
  top:1347px;
  width:50px;
  height:56px;
}
#u235_img {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:56px;
}
#u236 {
  position:absolute;
  left:2px;
  top:20px;
  width:46px;
  visibility:hidden;
  word-wrap:break-word;
}
#u237 {
  position:absolute;
  left:651px;
  top:1347px;
  width:50px;
  height:56px;
}
#u237_img {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:56px;
}
#u238 {
  position:absolute;
  left:2px;
  top:20px;
  width:46px;
  visibility:hidden;
  word-wrap:break-word;
}
#u239 {
  position:absolute;
  left:719px;
  top:1347px;
  width:50px;
  height:56px;
}
#u239_img {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:56px;
}
#u240 {
  position:absolute;
  left:2px;
  top:20px;
  width:46px;
  visibility:hidden;
  word-wrap:break-word;
}
#u241 {
  position:absolute;
  left:518px;
  top:1403px;
  width:33px;
  height:19px;
  font-size:16px;
}
#u241_img {
  position:absolute;
  left:0px;
  top:0px;
  width:33px;
  height:19px;
}
#u242 {
  position:absolute;
  left:0px;
  top:0px;
  width:33px;
  white-space:nowrap;
}
#u243 {
  position:absolute;
  left:589px;
  top:1403px;
  width:33px;
  height:19px;
  font-size:16px;
}
#u243_img {
  position:absolute;
  left:0px;
  top:0px;
  width:33px;
  height:19px;
}
#u244 {
  position:absolute;
  left:0px;
  top:0px;
  width:33px;
  white-space:nowrap;
}
#u245 {
  position:absolute;
  left:663px;
  top:1403px;
  width:33px;
  height:19px;
  font-size:16px;
}
#u245_img {
  position:absolute;
  left:0px;
  top:0px;
  width:33px;
  height:19px;
}
#u246 {
  position:absolute;
  left:0px;
  top:0px;
  width:33px;
  white-space:nowrap;
}
#u247 {
  position:absolute;
  left:729px;
  top:1403px;
  width:33px;
  height:19px;
  font-size:16px;
}
#u247_img {
  position:absolute;
  left:0px;
  top:0px;
  width:33px;
  height:19px;
}
#u248 {
  position:absolute;
  left:0px;
  top:0px;
  width:33px;
  white-space:nowrap;
}
#u249 {
  position:absolute;
  left:499px;
  top:1445px;
  width:283px;
  height:10px;
}
#u249_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u249_end {
  position:absolute;
  left:266px;
  top:-5px;
  width:18px;
  height:20px;
}
#u249_line {
  position:absolute;
  left:0px;
  top:5px;
  width:283px;
  height:1px;
}
#u250 {
  position:absolute;
  left:508px;
  top:1456px;
  width:39px;
  height:45px;
}
#u250_img {
  position:absolute;
  left:0px;
  top:0px;
  width:39px;
  height:45px;
}
#u251 {
  position:absolute;
  left:2px;
  top:14px;
  width:35px;
  visibility:hidden;
  word-wrap:break-word;
}
#u252 {
  position:absolute;
  left:552px;
  top:1467px;
  width:89px;
  height:26px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-size:22px;
}
#u252_img {
  position:absolute;
  left:0px;
  top:0px;
  width:89px;
  height:26px;
}
#u253 {
  position:absolute;
  left:0px;
  top:0px;
  width:89px;
  white-space:nowrap;
}
#u254 {
  position:absolute;
  left:508px;
  top:1512px;
  width:80px;
  height:38px;
}
#u254_img {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:38px;
}
#u255 {
  position:absolute;
  left:2px;
  top:11px;
  width:76px;
  word-wrap:break-word;
}
#u256 {
  position:absolute;
  left:598px;
  top:1512px;
  width:80px;
  height:38px;
}
#u256_img {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:38px;
}
#u257 {
  position:absolute;
  left:2px;
  top:11px;
  width:76px;
  word-wrap:break-word;
}
#u258 {
  position:absolute;
  left:688px;
  top:1512px;
  width:80px;
  height:38px;
}
#u258_img {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:38px;
}
#u259 {
  position:absolute;
  left:2px;
  top:11px;
  width:76px;
  word-wrap:break-word;
}
#u260 {
  position:absolute;
  left:508px;
  top:1561px;
  width:80px;
  height:38px;
}
#u260_img {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:38px;
}
#u261 {
  position:absolute;
  left:2px;
  top:11px;
  width:76px;
  word-wrap:break-word;
}
#u262 {
  position:absolute;
  left:598px;
  top:1561px;
  width:80px;
  height:38px;
}
#u262_img {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:38px;
}
#u263 {
  position:absolute;
  left:2px;
  top:11px;
  width:76px;
  word-wrap:break-word;
}
#u264 {
  position:absolute;
  left:688px;
  top:1561px;
  width:80px;
  height:38px;
}
#u264_img {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:38px;
}
#u265 {
  position:absolute;
  left:2px;
  top:11px;
  width:76px;
  word-wrap:break-word;
}
#u266 {
  position:absolute;
  left:706px;
  top:1467px;
  width:59px;
  height:26px;
  color:#00CC00;
}
#u266_img {
  position:absolute;
  left:0px;
  top:0px;
  width:59px;
  height:26px;
}
#u267 {
  position:absolute;
  left:2px;
  top:5px;
  width:55px;
  word-wrap:break-word;
}
#u268 {
  position:absolute;
  left:429px;
  top:608px;
  width:64px;
  height:10px;
}
#u268_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u268_end {
  position:absolute;
  left:47px;
  top:-5px;
  width:18px;
  height:20px;
}
#u268_line {
  position:absolute;
  left:0px;
  top:5px;
  width:64px;
  height:1px;
}
#u269 {
  position:absolute;
  left:429px;
  top:590px;
  width:298px;
  height:10px;
}
#u269_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u269_end {
  position:absolute;
  left:281px;
  top:-5px;
  width:18px;
  height:20px;
}
#u269_line {
  position:absolute;
  left:0px;
  top:5px;
  width:298px;
  height:1px;
}
