body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:940px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0 {
  position:absolute;
  left:99px;
  top:36px;
  width:281px;
  height:624px;
}
#u0_img {
  position:absolute;
  left:0px;
  top:0px;
  width:281px;
  height:624px;
}
#u1 {
  position:absolute;
  left:2px;
  top:304px;
  width:277px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2 {
  position:absolute;
  left:131px;
  top:203px;
  width:41px;
  height:24px;
  font-size:20px;
  color:#0099FF;
}
#u2_img {
  position:absolute;
  left:0px;
  top:0px;
  width:41px;
  height:24px;
}
#u3 {
  position:absolute;
  left:0px;
  top:0px;
  width:41px;
  white-space:nowrap;
}
#u4 {
  position:absolute;
  left:206px;
  top:207px;
  width:113px;
  height:19px;
  font-size:16px;
  color:#666666;
}
#u4_img {
  position:absolute;
  left:0px;
  top:0px;
  width:113px;
  height:19px;
}
#u5 {
  position:absolute;
  left:0px;
  top:0px;
  width:113px;
  white-space:nowrap;
}
#u6 {
  position:absolute;
  left:118px;
  top:301px;
  width:241px;
  height:10px;
}
#u6_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u6_end {
  position:absolute;
  left:224px;
  top:-5px;
  width:18px;
  height:20px;
}
#u6_line {
  position:absolute;
  left:0px;
  top:5px;
  width:241px;
  height:1px;
}
#u7 {
  position:absolute;
  left:131px;
  top:317px;
  width:41px;
  height:24px;
  font-size:20px;
  color:#0099FF;
}
#u7_img {
  position:absolute;
  left:0px;
  top:0px;
  width:41px;
  height:24px;
}
#u8 {
  position:absolute;
  left:0px;
  top:0px;
  width:41px;
  white-space:nowrap;
}
#u9 {
  position:absolute;
  left:206px;
  top:321px;
  width:97px;
  height:19px;
  font-size:16px;
  color:#666666;
}
#u9_img {
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  height:19px;
}
#u10 {
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  white-space:nowrap;
}
#u11 {
  position:absolute;
  left:122px;
  top:237px;
  width:56px;
  height:55px;
  font-size:18px;
}
#u11_img {
  position:absolute;
  left:0px;
  top:0px;
  width:56px;
  height:55px;
}
#u12 {
  position:absolute;
  left:2px;
  top:16px;
  width:52px;
  word-wrap:break-word;
}
#u13 {
  position:absolute;
  left:122px;
  top:352px;
  width:56px;
  height:55px;
  font-size:18px;
}
#u13_img {
  position:absolute;
  left:0px;
  top:0px;
  width:56px;
  height:55px;
}
#u14 {
  position:absolute;
  left:2px;
  top:16px;
  width:52px;
  word-wrap:break-word;
}
#u15 {
  position:absolute;
  left:118px;
  top:421px;
  width:241px;
  height:10px;
}
#u15_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u15_end {
  position:absolute;
  left:224px;
  top:-5px;
  width:18px;
  height:20px;
}
#u15_line {
  position:absolute;
  left:0px;
  top:5px;
  width:241px;
  height:1px;
}
#u16 {
  position:absolute;
  left:131px;
  top:438px;
  width:41px;
  height:24px;
  font-size:20px;
  color:#0099FF;
}
#u16_img {
  position:absolute;
  left:0px;
  top:0px;
  width:41px;
  height:24px;
}
#u17 {
  position:absolute;
  left:0px;
  top:0px;
  width:41px;
  white-space:nowrap;
}
#u18 {
  position:absolute;
  left:206px;
  top:441px;
  width:97px;
  height:19px;
  font-size:16px;
  color:#666666;
}
#u18_img {
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  height:19px;
}
#u19 {
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  white-space:nowrap;
}
#u20 {
  position:absolute;
  left:122px;
  top:472px;
  width:56px;
  height:55px;
  font-size:18px;
}
#u20_img {
  position:absolute;
  left:0px;
  top:0px;
  width:56px;
  height:55px;
}
#u21 {
  position:absolute;
  left:2px;
  top:16px;
  width:52px;
  word-wrap:break-word;
}
#u22 {
  position:absolute;
  left:206px;
  top:237px;
  width:115px;
  height:16px;
  color:#999999;
}
#u22_img {
  position:absolute;
  left:0px;
  top:0px;
  width:115px;
  height:16px;
}
#u23 {
  position:absolute;
  left:0px;
  top:0px;
  width:115px;
  white-space:nowrap;
}
#u24 {
  position:absolute;
  left:206px;
  top:257px;
  width:101px;
  height:16px;
  color:#999999;
}
#u24_img {
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:16px;
}
#u25 {
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  white-space:nowrap;
}
#u26 {
  position:absolute;
  left:206px;
  top:277px;
  width:128px;
  height:16px;
  color:#999999;
}
#u26_img {
  position:absolute;
  left:0px;
  top:0px;
  width:128px;
  height:16px;
}
#u27 {
  position:absolute;
  left:0px;
  top:0px;
  width:128px;
  white-space:nowrap;
}
#u28 {
  position:absolute;
  left:206px;
  top:350px;
  width:115px;
  height:16px;
  color:#999999;
}
#u28_img {
  position:absolute;
  left:0px;
  top:0px;
  width:115px;
  height:16px;
}
#u29 {
  position:absolute;
  left:0px;
  top:0px;
  width:115px;
  white-space:nowrap;
}
#u30 {
  position:absolute;
  left:206px;
  top:370px;
  width:101px;
  height:16px;
  color:#999999;
}
#u30_img {
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:16px;
}
#u31 {
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  white-space:nowrap;
}
#u32 {
  position:absolute;
  left:206px;
  top:390px;
  width:128px;
  height:16px;
  color:#999999;
}
#u32_img {
  position:absolute;
  left:0px;
  top:0px;
  width:128px;
  height:16px;
}
#u33 {
  position:absolute;
  left:0px;
  top:0px;
  width:128px;
  white-space:nowrap;
}
#u34 {
  position:absolute;
  left:118px;
  top:537px;
  width:241px;
  height:10px;
}
#u34_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u34_end {
  position:absolute;
  left:224px;
  top:-5px;
  width:18px;
  height:20px;
}
#u34_line {
  position:absolute;
  left:0px;
  top:5px;
  width:241px;
  height:1px;
}
#u35 {
  position:absolute;
  left:131px;
  top:554px;
  width:41px;
  height:24px;
  font-size:20px;
  color:#0099FF;
}
#u35_img {
  position:absolute;
  left:0px;
  top:0px;
  width:41px;
  height:24px;
}
#u36 {
  position:absolute;
  left:0px;
  top:0px;
  width:41px;
  white-space:nowrap;
}
#u37 {
  position:absolute;
  left:206px;
  top:559px;
  width:97px;
  height:19px;
  font-size:16px;
  color:#666666;
}
#u37_img {
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  height:19px;
}
#u38 {
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  white-space:nowrap;
}
#u39 {
  position:absolute;
  left:122px;
  top:588px;
  width:56px;
  height:55px;
  font-size:18px;
}
#u39_img {
  position:absolute;
  left:0px;
  top:0px;
  width:56px;
  height:55px;
}
#u40 {
  position:absolute;
  left:2px;
  top:16px;
  width:52px;
  word-wrap:break-word;
}
#u41 {
  position:absolute;
  left:206px;
  top:471px;
  width:110px;
  height:64px;
}
#u41_img {
  position:absolute;
  left:0px;
  top:0px;
  width:110px;
  height:64px;
}
#u42 {
  position:absolute;
  left:2px;
  top:24px;
  width:106px;
  visibility:hidden;
  word-wrap:break-word;
}
#u43 {
  position:absolute;
  left:99px;
  top:36px;
  width:281px;
  height:154px;
}
#u43_img {
  position:absolute;
  left:-3px;
  top:0px;
  width:287px;
  height:160px;
}
#u44 {
  position:absolute;
  left:2px;
  top:69px;
  width:277px;
  visibility:hidden;
  word-wrap:break-word;
}
#u45 {
  position:absolute;
  left:122px;
  top:63px;
  width:56px;
  height:55px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-size:20px;
}
#u45_img {
  position:absolute;
  left:0px;
  top:0px;
  width:56px;
  height:55px;
}
#u46 {
  position:absolute;
  left:2px;
  top:16px;
  width:52px;
  word-wrap:break-word;
}
#u47 {
  position:absolute;
  left:188px;
  top:69px;
  width:171px;
  height:44px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-size:18px;
}
#u47_img {
  position:absolute;
  left:0px;
  top:0px;
  width:171px;
  height:44px;
}
#u48 {
  position:absolute;
  left:0px;
  top:0px;
  width:171px;
  word-wrap:break-word;
}
#u49 {
  position:absolute;
  left:122px;
  top:133px;
  width:113px;
  height:40px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-size:18px;
  color:#FFFFFF;
}
#u49_img {
  position:absolute;
  left:0px;
  top:0px;
  width:113px;
  height:40px;
}
#u50 {
  position:absolute;
  left:2px;
  top:9px;
  width:109px;
  word-wrap:break-word;
}
#u51 {
  position:absolute;
  left:243px;
  top:133px;
  width:113px;
  height:40px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-size:18px;
  color:#FFFFFF;
}
#u51_img {
  position:absolute;
  left:0px;
  top:0px;
  width:113px;
  height:40px;
}
#u52 {
  position:absolute;
  left:2px;
  top:9px;
  width:109px;
  word-wrap:break-word;
}
#u53 {
  position:absolute;
  left:206px;
  top:585px;
  width:110px;
  height:64px;
}
#u53_img {
  position:absolute;
  left:0px;
  top:0px;
  width:110px;
  height:64px;
}
#u54 {
  position:absolute;
  left:2px;
  top:24px;
  width:106px;
  visibility:hidden;
  word-wrap:break-word;
}
#u55 {
  position:absolute;
  left:409px;
  top:244px;
  width:131px;
  height:16px;
}
#u55_img {
  position:absolute;
  left:0px;
  top:0px;
  width:131px;
  height:16px;
}
#u56 {
  position:absolute;
  left:0px;
  top:0px;
  width:131px;
  white-space:nowrap;
}
#u57 {
  position:absolute;
  left:409px;
  top:370px;
  width:131px;
  height:16px;
}
#u57_img {
  position:absolute;
  left:0px;
  top:0px;
  width:131px;
  height:16px;
}
#u58 {
  position:absolute;
  left:0px;
  top:0px;
  width:131px;
  white-space:nowrap;
}
#u59 {
  position:absolute;
  left:409px;
  top:492px;
  width:79px;
  height:16px;
}
#u59_img {
  position:absolute;
  left:0px;
  top:0px;
  width:79px;
  height:16px;
}
#u60 {
  position:absolute;
  left:0px;
  top:0px;
  width:79px;
  white-space:nowrap;
}
#u61 {
  position:absolute;
  left:409px;
  top:600px;
  width:79px;
  height:16px;
}
#u61_img {
  position:absolute;
  left:0px;
  top:0px;
  width:79px;
  height:16px;
}
#u62 {
  position:absolute;
  left:0px;
  top:0px;
  width:79px;
  white-space:nowrap;
}
#u63 {
  position:absolute;
  left:90px;
  top:490px;
  width:-10px;
  height:-400px;
}
#u63_seg0 {
  position:absolute;
  left:-10px;
  top:-10px;
  width:20px;
  height:14px;
}
#u63_seg1 {
  position:absolute;
  left:-70px;
  top:-10px;
  width:80px;
  height:20px;
}
#u63_seg2 {
  position:absolute;
  left:-70px;
  top:-410px;
  width:20px;
  height:420px;
}
#u63_seg3 {
  position:absolute;
  left:-70px;
  top:-410px;
  width:64px;
  height:20px;
}
#u64 {
  position:absolute;
  left:-110px;
  top:-203px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u65 {
  position:absolute;
  left:414px;
  top:79px;
  width:248px;
  height:64px;
}
#u65_img {
  position:absolute;
  left:0px;
  top:0px;
  width:248px;
  height:64px;
}
#u66 {
  position:absolute;
  left:0px;
  top:0px;
  width:248px;
  white-space:nowrap;
}
#u67 {
  position:absolute;
  left:740px;
  top:63px;
  width:200px;
  height:144px;
}
#u67_img {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:144px;
}
#u68 {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  word-wrap:break-word;
}
