body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1870px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0 {
  position:absolute;
  left:75px;
  top:124px;
  width:321px;
  height:571px;
}
#u0_img {
  position:absolute;
  left:0px;
  top:0px;
  width:321px;
  height:571px;
}
#u1 {
  position:absolute;
  left:2px;
  top:278px;
  width:317px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2 {
  position:absolute;
  left:429px;
  top:124px;
  width:321px;
  height:571px;
}
#u2_img {
  position:absolute;
  left:0px;
  top:0px;
  width:321px;
  height:571px;
}
#u3 {
  position:absolute;
  left:2px;
  top:278px;
  width:317px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4 {
  position:absolute;
  left:781px;
  top:124px;
  width:321px;
  height:1606px;
}
#u4_img {
  position:absolute;
  left:0px;
  top:0px;
  width:321px;
  height:1606px;
}
#u5 {
  position:absolute;
  left:2px;
  top:795px;
  width:317px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6 {
  position:absolute;
  left:1136px;
  top:124px;
  width:321px;
  height:571px;
}
#u6_img {
  position:absolute;
  left:0px;
  top:0px;
  width:321px;
  height:571px;
}
#u7 {
  position:absolute;
  left:2px;
  top:278px;
  width:317px;
  visibility:hidden;
  word-wrap:break-word;
}
#u8 {
  position:absolute;
  left:1489px;
  top:124px;
  width:321px;
  height:571px;
}
#u8_img {
  position:absolute;
  left:0px;
  top:0px;
  width:321px;
  height:571px;
}
#u9 {
  position:absolute;
  left:2px;
  top:278px;
  width:317px;
  visibility:hidden;
  word-wrap:break-word;
}
#u10 {
  position:absolute;
  left:75px;
  top:728px;
  width:415px;
  height:112px;
}
#u10_img {
  position:absolute;
  left:0px;
  top:0px;
  width:415px;
  height:112px;
}
#u11 {
  position:absolute;
  left:0px;
  top:0px;
  width:415px;
  word-wrap:break-word;
}
#u12 {
  position:absolute;
  left:490px;
  top:702px;
  width:259px;
  height:48px;
}
#u12_img {
  position:absolute;
  left:0px;
  top:0px;
  width:259px;
  height:48px;
}
#u13 {
  position:absolute;
  left:0px;
  top:0px;
  width:259px;
  word-wrap:break-word;
}
#u14 {
  position:absolute;
  left:830px;
  top:480px;
  width:251px;
  height:16px;
}
#u14_img {
  position:absolute;
  left:0px;
  top:0px;
  width:251px;
  height:16px;
}
#u15 {
  position:absolute;
  left:0px;
  top:0px;
  width:251px;
  word-wrap:break-word;
}
#u16 {
  position:absolute;
  left:867px;
  top:370px;
  width:183px;
  height:16px;
}
#u16_img {
  position:absolute;
  left:0px;
  top:0px;
  width:183px;
  height:16px;
}
#u17 {
  position:absolute;
  left:0px;
  top:0px;
  width:183px;
  word-wrap:break-word;
}
#u18 {
  position:absolute;
  left:1147px;
  top:705px;
  width:313px;
  height:48px;
}
#u18_img {
  position:absolute;
  left:0px;
  top:0px;
  width:313px;
  height:48px;
}
#u19 {
  position:absolute;
  left:0px;
  top:0px;
  width:313px;
  word-wrap:break-word;
}
#u20 {
  position:absolute;
  left:1489px;
  top:705px;
  width:381px;
  height:32px;
}
#u20_img {
  position:absolute;
  left:0px;
  top:0px;
  width:381px;
  height:32px;
}
#u21 {
  position:absolute;
  left:0px;
  top:0px;
  width:381px;
  word-wrap:break-word;
}
#u22 {
  position:absolute;
  left:75px;
  top:702px;
  width:285px;
  height:16px;
}
#u22_img {
  position:absolute;
  left:0px;
  top:0px;
  width:285px;
  height:16px;
}
#u23 {
  position:absolute;
  left:0px;
  top:0px;
  width:285px;
  word-wrap:break-word;
}
#u24 {
  position:absolute;
  left:221px;
  top:72px;
  width:49px;
  height:28px;
}
#u24_img {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  height:28px;
}
#u25 {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  white-space:nowrap;
}
#u26 {
  position:absolute;
  left:571px;
  top:80px;
  width:49px;
  height:28px;
}
#u26_img {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  height:28px;
}
#u27 {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  white-space:nowrap;
}
#u28 {
  position:absolute;
  left:896px;
  top:86px;
  width:97px;
  height:28px;
}
#u28_img {
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  height:28px;
}
#u29 {
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  white-space:nowrap;
}
#u30 {
  position:absolute;
  left:1248px;
  top:86px;
  width:97px;
  height:28px;
}
#u30_img {
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  height:28px;
}
#u31 {
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  white-space:nowrap;
}
#u32 {
  position:absolute;
  left:1577px;
  top:86px;
  width:145px;
  height:28px;
}
#u32_img {
  position:absolute;
  left:0px;
  top:0px;
  width:145px;
  height:28px;
}
#u33 {
  position:absolute;
  left:0px;
  top:0px;
  width:145px;
  white-space:nowrap;
}
