body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1445px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0 {
  position:absolute;
  left:80px;
  top:70px;
  width:300px;
  height:48px;
}
#u0_img {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:48px;
}
#u1 {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  word-wrap:break-word;
}
#u2 {
  position:absolute;
  left:80px;
  top:128px;
  width:278px;
  height:270px;
}
#u2_img {
  position:absolute;
  left:0px;
  top:0px;
  width:278px;
  height:270px;
}
#u3 {
  position:absolute;
  left:2px;
  top:127px;
  width:274px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4 {
  position:absolute;
  left:410px;
  top:70px;
  width:200px;
  height:32px;
}
#u4_img {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:32px;
}
#u5 {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  word-wrap:break-word;
}
#u6 {
  position:absolute;
  left:406px;
  top:128px;
  width:262px;
  height:198px;
}
#u6_img {
  position:absolute;
  left:0px;
  top:0px;
  width:262px;
  height:198px;
}
#u7 {
  position:absolute;
  left:2px;
  top:91px;
  width:258px;
  visibility:hidden;
  word-wrap:break-word;
}
#u8 {
  position:absolute;
  left:690px;
  top:128px;
  width:262px;
  height:227px;
}
#u8_img {
  position:absolute;
  left:0px;
  top:0px;
  width:262px;
  height:227px;
}
#u9 {
  position:absolute;
  left:2px;
  top:106px;
  width:258px;
  visibility:hidden;
  word-wrap:break-word;
}
#u10 {
  position:absolute;
  left:80px;
  top:514px;
  width:200px;
  height:32px;
}
#u10_img {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:32px;
}
#u11 {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  word-wrap:break-word;
}
#u12 {
  position:absolute;
  left:980px;
  top:86px;
  width:200px;
  height:16px;
}
#u12_img {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:16px;
}
#u13 {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  word-wrap:break-word;
}
#u14 {
  position:absolute;
  left:406px;
  top:514px;
  width:200px;
  height:48px;
}
#u14_img {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:48px;
}
#u15 {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  word-wrap:break-word;
}
#u16 {
  position:absolute;
  left:710px;
  top:514px;
  width:200px;
  height:16px;
}
#u16_img {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:16px;
}
#u17 {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  word-wrap:break-word;
}
#u18 {
  position:absolute;
  left:991px;
  top:514px;
  width:200px;
  height:16px;
}
#u18_img {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:16px;
}
#u19 {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  word-wrap:break-word;
}
#u20 {
  position:absolute;
  left:80px;
  top:929px;
  width:200px;
  height:16px;
}
#u20_img {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:16px;
}
#u21 {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  word-wrap:break-word;
}
#u22 {
  position:absolute;
  left:420px;
  top:929px;
  width:200px;
  height:16px;
}
#u22_img {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:16px;
}
#u23 {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  word-wrap:break-word;
}
#u24 {
  position:absolute;
  left:692px;
  top:929px;
  width:200px;
  height:16px;
}
#u24_img {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:16px;
}
#u25 {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  word-wrap:break-word;
}
#u26 {
  position:absolute;
  left:980px;
  top:128px;
  width:222px;
  height:167px;
}
#u26_img {
  position:absolute;
  left:0px;
  top:0px;
  width:222px;
  height:167px;
}
#u27 {
  position:absolute;
  left:2px;
  top:76px;
  width:218px;
  visibility:hidden;
  word-wrap:break-word;
}
#u28 {
  position:absolute;
  left:80px;
  top:560px;
  width:226px;
  height:167px;
}
#u28_img {
  position:absolute;
  left:0px;
  top:0px;
  width:226px;
  height:167px;
}
#u29 {
  position:absolute;
  left:2px;
  top:76px;
  width:222px;
  visibility:hidden;
  word-wrap:break-word;
}
#u30 {
  position:absolute;
  left:406px;
  top:560px;
  width:223px;
  height:219px;
}
#u30_img {
  position:absolute;
  left:0px;
  top:0px;
  width:223px;
  height:219px;
}
#u31 {
  position:absolute;
  left:2px;
  top:102px;
  width:219px;
  visibility:hidden;
  word-wrap:break-word;
}
#u32 {
  position:absolute;
  left:692px;
  top:560px;
  width:235px;
  height:193px;
}
#u32_img {
  position:absolute;
  left:0px;
  top:0px;
  width:235px;
  height:193px;
}
#u33 {
  position:absolute;
  left:2px;
  top:88px;
  width:231px;
  visibility:hidden;
  word-wrap:break-word;
}
#u34 {
  position:absolute;
  left:980px;
  top:560px;
  width:241px;
  height:267px;
}
#u34_img {
  position:absolute;
  left:0px;
  top:0px;
  width:241px;
  height:267px;
}
#u35 {
  position:absolute;
  left:2px;
  top:126px;
  width:237px;
  visibility:hidden;
  word-wrap:break-word;
}
#u36 {
  position:absolute;
  left:80px;
  top:971px;
  width:227px;
  height:224px;
}
#u36_img {
  position:absolute;
  left:0px;
  top:0px;
  width:227px;
  height:224px;
}
#u37 {
  position:absolute;
  left:2px;
  top:104px;
  width:223px;
  visibility:hidden;
  word-wrap:break-word;
}
#u38 {
  position:absolute;
  left:406px;
  top:965px;
  width:252px;
  height:150px;
}
#u38_img {
  position:absolute;
  left:0px;
  top:0px;
  width:252px;
  height:150px;
}
#u39 {
  position:absolute;
  left:2px;
  top:67px;
  width:248px;
  visibility:hidden;
  word-wrap:break-word;
}
#u40 {
  position:absolute;
  left:80px;
  top:494px;
  width:1140px;
  height:10px;
}
#u40_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u40_end {
  position:absolute;
  left:1123px;
  top:-5px;
  width:18px;
  height:20px;
}
#u40_line {
  position:absolute;
  left:0px;
  top:5px;
  width:1140px;
  height:1px;
}
#u41 {
  position:absolute;
  left:80px;
  top:909px;
  width:1140px;
  height:10px;
}
#u41_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u41_end {
  position:absolute;
  left:1123px;
  top:-5px;
  width:18px;
  height:20px;
}
#u41_line {
  position:absolute;
  left:0px;
  top:5px;
  width:1140px;
  height:1px;
}
#u42 {
  position:absolute;
  left:80px;
  top:408px;
  width:125px;
  height:19px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-size:16px;
  color:#0099FF;
}
#u42_img {
  position:absolute;
  left:0px;
  top:0px;
  width:125px;
  height:19px;
}
#u43 {
  position:absolute;
  left:0px;
  top:0px;
  width:125px;
  white-space:nowrap;
}
#u44 {
  position:absolute;
  left:410px;
  top:408px;
  width:241px;
  height:19px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-size:16px;
  color:#0099FF;
}
#u44_img {
  position:absolute;
  left:0px;
  top:0px;
  width:241px;
  height:19px;
}
#u45 {
  position:absolute;
  left:0px;
  top:0px;
  width:241px;
  white-space:nowrap;
}
#u46 {
  position:absolute;
  left:410px;
  top:204px;
  width:258px;
  height:149px;
}
#u46_img {
  position:absolute;
  left:0px;
  top:0px;
  width:258px;
  height:149px;
}
#u47 {
  position:absolute;
  left:2px;
  top:66px;
  width:254px;
  visibility:hidden;
  word-wrap:break-word;
}
#u48 {
  position:absolute;
  left:410px;
  top:240px;
  width:241px;
  height:70px;
}
#u48_img {
  position:absolute;
  left:0px;
  top:0px;
  width:241px;
  height:70px;
}
#u49 {
  position:absolute;
  left:2px;
  top:27px;
  width:237px;
  visibility:hidden;
  word-wrap:break-word;
}
#u50 {
  position:absolute;
  left:438px;
  top:265px;
  width:170px;
  height:16px;
  color:#FFFFFF;
}
#u50_img {
  position:absolute;
  left:0px;
  top:0px;
  width:170px;
  height:16px;
}
#u51 {
  position:absolute;
  left:0px;
  top:0px;
  width:170px;
  white-space:nowrap;
}
#u52 {
  position:absolute;
  left:438px;
  top:326px;
  width:69px;
  height:23px;
}
#u52_img {
  position:absolute;
  left:0px;
  top:0px;
  width:69px;
  height:23px;
}
#u53 {
  position:absolute;
  left:2px;
  top:4px;
  width:65px;
  visibility:hidden;
  word-wrap:break-word;
}
#u54 {
  position:absolute;
  left:560px;
  top:326px;
  width:69px;
  height:23px;
}
#u54_img {
  position:absolute;
  left:0px;
  top:0px;
  width:69px;
  height:23px;
}
#u55 {
  position:absolute;
  left:2px;
  top:4px;
  width:65px;
  visibility:hidden;
  word-wrap:break-word;
}
#u56 {
  position:absolute;
  left:457px;
  top:326px;
  width:27px;
  height:16px;
  color:#FFFFFF;
}
#u56_img {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  height:16px;
}
#u57 {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  white-space:nowrap;
}
#u58 {
  position:absolute;
  left:593px;
  top:326px;
  width:27px;
  height:16px;
  color:#FFFFFF;
}
#u58_img {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  height:16px;
}
#u59 {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  white-space:nowrap;
}
#u60 {
  position:absolute;
  left:690px;
  top:206px;
  width:258px;
  height:149px;
}
#u60_img {
  position:absolute;
  left:0px;
  top:0px;
  width:258px;
  height:149px;
}
#u61 {
  position:absolute;
  left:2px;
  top:66px;
  width:254px;
  visibility:hidden;
  word-wrap:break-word;
}
#u62 {
  position:absolute;
  left:690px;
  top:242px;
  width:241px;
  height:70px;
}
#u62_img {
  position:absolute;
  left:0px;
  top:0px;
  width:241px;
  height:70px;
}
#u63 {
  position:absolute;
  left:2px;
  top:27px;
  width:237px;
  visibility:hidden;
  word-wrap:break-word;
}
#u64 {
  position:absolute;
  left:718px;
  top:328px;
  width:69px;
  height:23px;
}
#u64_img {
  position:absolute;
  left:0px;
  top:0px;
  width:69px;
  height:23px;
}
#u65 {
  position:absolute;
  left:2px;
  top:4px;
  width:65px;
  visibility:hidden;
  word-wrap:break-word;
}
#u66 {
  position:absolute;
  left:840px;
  top:328px;
  width:69px;
  height:23px;
}
#u66_img {
  position:absolute;
  left:0px;
  top:0px;
  width:69px;
  height:23px;
}
#u67 {
  position:absolute;
  left:2px;
  top:4px;
  width:65px;
  visibility:hidden;
  word-wrap:break-word;
}
#u68 {
  position:absolute;
  left:737px;
  top:328px;
  width:27px;
  height:16px;
  color:#FFFFFF;
}
#u68_img {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  height:16px;
}
#u69 {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  white-space:nowrap;
}
#u70 {
  position:absolute;
  left:873px;
  top:328px;
  width:27px;
  height:16px;
  color:#FFFFFF;
}
#u70_img {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  height:16px;
}
#u71 {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  white-space:nowrap;
}
#u72 {
  position:absolute;
  left:710px;
  top:265px;
  width:159px;
  height:16px;
  color:#FFFFFF;
}
#u72_img {
  position:absolute;
  left:0px;
  top:0px;
  width:159px;
  height:16px;
}
#u73 {
  position:absolute;
  left:0px;
  top:0px;
  width:159px;
  white-space:nowrap;
}
#u74 {
  position:absolute;
  left:979px;
  top:408px;
  width:225px;
  height:19px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-size:16px;
  color:#0099FF;
}
#u74_img {
  position:absolute;
  left:0px;
  top:0px;
  width:225px;
  height:19px;
}
#u75 {
  position:absolute;
  left:0px;
  top:0px;
  width:225px;
  white-space:nowrap;
}
#u76 {
  position:absolute;
  left:406px;
  top:854px;
  width:177px;
  height:19px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-size:16px;
  color:#0099FF;
}
#u76_img {
  position:absolute;
  left:0px;
  top:0px;
  width:177px;
  height:19px;
}
#u77 {
  position:absolute;
  left:0px;
  top:0px;
  width:177px;
  white-space:nowrap;
}
#u78 {
  position:absolute;
  left:692px;
  top:854px;
  width:125px;
  height:19px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-size:16px;
  color:#0099FF;
}
#u78_img {
  position:absolute;
  left:0px;
  top:0px;
  width:125px;
  height:19px;
}
#u79 {
  position:absolute;
  left:0px;
  top:0px;
  width:125px;
  white-space:nowrap;
}
#u80 {
  position:absolute;
  left:80px;
  top:854px;
  width:125px;
  height:19px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-size:16px;
  color:#0099FF;
}
#u80_img {
  position:absolute;
  left:0px;
  top:0px;
  width:125px;
  height:19px;
}
#u81 {
  position:absolute;
  left:0px;
  top:0px;
  width:125px;
  white-space:nowrap;
}
#u82 {
  position:absolute;
  left:980px;
  top:929px;
  width:200px;
  height:16px;
}
#u82_img {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:16px;
}
#u83 {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  word-wrap:break-word;
}
#u84 {
  position:absolute;
  left:692px;
  top:965px;
  width:241px;
  height:19px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-size:16px;
  color:#0099FF;
}
#u84_img {
  position:absolute;
  left:0px;
  top:0px;
  width:241px;
  height:19px;
}
#u85 {
  position:absolute;
  left:0px;
  top:0px;
  width:241px;
  white-space:nowrap;
}
#u86 {
  position:absolute;
  left:980px;
  top:965px;
  width:257px;
  height:57px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-size:16px;
  color:#0099FF;
}
#u86_img {
  position:absolute;
  left:0px;
  top:0px;
  width:257px;
  height:57px;
}
#u87 {
  position:absolute;
  left:0px;
  top:0px;
  width:257px;
  white-space:nowrap;
}
#u88 {
  position:absolute;
  left:980px;
  top:854px;
  width:465px;
  height:57px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-size:16px;
  color:#0099FF;
}
#u88_img {
  position:absolute;
  left:0px;
  top:0px;
  width:465px;
  height:57px;
}
#u89 {
  position:absolute;
  left:0px;
  top:0px;
  width:465px;
  white-space:nowrap;
}
#u90 {
  position:absolute;
  left:80px;
  top:1221px;
  width:125px;
  height:19px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-size:16px;
  color:#0099FF;
}
#u90_img {
  position:absolute;
  left:0px;
  top:0px;
  width:125px;
  height:19px;
}
#u91 {
  position:absolute;
  left:0px;
  top:0px;
  width:125px;
  white-space:nowrap;
}
#u92 {
  position:absolute;
  left:406px;
  top:1221px;
  width:125px;
  height:19px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-size:16px;
  color:#0099FF;
}
#u92_img {
  position:absolute;
  left:0px;
  top:0px;
  width:125px;
  height:19px;
}
#u93 {
  position:absolute;
  left:0px;
  top:0px;
  width:125px;
  white-space:nowrap;
}
#u94 {
  position:absolute;
  left:80px;
  top:1300px;
  width:200px;
  height:16px;
}
#u94_img {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:16px;
}
#u95 {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  word-wrap:break-word;
}
#u96 {
  position:absolute;
  left:80px;
  top:1336px;
  width:285px;
  height:114px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-size:16px;
  color:#0099FF;
}
#u96_img {
  position:absolute;
  left:0px;
  top:0px;
  width:285px;
  height:114px;
}
#u97 {
  position:absolute;
  left:0px;
  top:0px;
  width:285px;
  white-space:nowrap;
}
#u98 {
  position:absolute;
  left:180px;
  top:1300px;
  width:200px;
  height:16px;
}
#u98_img {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:16px;
}
#u99 {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  word-wrap:break-word;
}
